<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<img src='/static/kd.jpg'/>
<p> please choose a time below that you like </p>
    <FORM METHOD="POST" ACTION="">
<TABLE BORDER="1">
  <TR>
	<td> Time </td>
	<td> Dominator </td>
	<td> Volcano</td>
	<td> Intimidator</td>
  </tr>
  <TR>
	<td> 3/27/2019 10:00 </td>
	<TD><button TYPE="submit" Value="r1;t1" Name="B1">{{r1t1}}</button></TD>
	<td><button TYPE="submit" Value="r2;t1" Name="B1"> {{r2t1}}</button></td>
	<td><button TYPE="submit" Value="r3;t1" Name="B1"> {{r3t1}} </button></td>
  </TR>
  <TR>
	<td> 3/27/2019 10:15 </td>
	<td><button TYPE="submit" Value="r1;t2" Name="B1"> {{r1t2}} </button></td>
	<td><button TYPE="submit" Value="r2;t2" Name="B1"> {{r2t2}} </button></td>
	<td><button TYPE="submit" Value="r3;t2" Name="B1"> {{r3t2}} </button></td>
  </TR>
  <TR>
	<td> 3/27/2019 10:30 </td>
	<td><button TYPE="submit" Value="r1;t3" Name="B1"> {{r1t3}} </button></td>
	<td><button TYPE="submit" Value="r2;t3" Name="B1"> {{r2t3}} </button></td>
	<td><button TYPE="submit" Value="r3;t3" Name="B1"> {{r3t3}} </button></td>
  </TR>
  <TR>
	<td> 3/27/2019 10:45 </td>
	<td><button TYPE="submit" Value="r1;t4" Name="B1"> {{r1t4}} </button></td>
	<td><button TYPE="submit" Value="r2;t4" Name="B1"> {{r2t4}} </button></td>
	<td><button TYPE="submit" Value="r3;t4" Name="B1"> {{r3t4}} </button></td>
  </TR>
  <TR>
	<td> 3/27/2019 11:00 </td>
	<td><button TYPE="submit" Value="r1;t5" Name="B1"> {{r1t5}} </button></td>
	<td><button TYPE="submit" Value="r2;t5" Name="B1"> {{r2t5}} </button></td>
	<td><button TYPE="submit" Value="r3;t5" Name="B1"> {{r3t5}} </button></td>
  </TR>
</TABLE>
</FORM>
</body>
</html>